<%- include('../partials/header') %>

<h2 class="create-image-title">Upload New Image</h2>

<form
  class="create-image-form"
  action="/gallery"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-input" required />
  </div>
  <div class="form-group">
    <label for="description" class="form-label">Description</label>
    <textarea
      name="description"
      id="description"
      class="form-textarea"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="artist" class="form-label">Artist</label>
    <input type="text" name="artist" id="artist" class="form-input" required />
  </div>
  <div class="form-group">
    <label for="image" class="form-label">Image</label>
    <input type="file" name="image" id="image" class="form-input" required />
  </div>
  <div class="form-group">
    <label for="points" class="form-label">Points</label>
    <input
      type="number"
      name="points"
      id="points"
      class="form-input"
      required
    />
  </div>
  <button type="submit" class="submit-btn">Upload Image</button>
</form>

<%- include('../partials/footer') %>
