<%- include("../partials/portal-header") %>

<section class="create-event-section">
  <h2>Create New Event</h2>

  <form
    action="/gallery"
    method="POST"
    enctype="multipart/form-data"
    class="create-gallery-form"
  >
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="warrior">Warrior</label>
      <input type="text" name="warrior" id="warrior" required />
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" name="image" id="image" class="form-input" required />
    </div>
    <button type="submit" class="submit-btn">Add New Image</button>
  </form>
</section>

<%- include("../partials/portal-footer") %>
