<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwachhSankalp</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <h1 class="logo">
          <a href="/">SwachhSankalp</a>
        </h1>
        <nav>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/quote">Quotes</a></li>
            <li>
              <a href="/users/register">Register</a>
            </li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <!-- Your main content goes here -->
    </main>
  </body>
</html>
