<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="header-container">
        <h1 class="logo">
          <a href="/">SwachhSankalp</a>
        </h1>
        <nav>
          <ul class="nav-links">
            <li><a href="/portal">Portal</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/users/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main></main>
  </body>
</html>
